.container {
  padding: 1.5rem;
  max-width: 900px;
  margin: 0 auto;
}

.heading {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.emptyCart {
  margin-bottom: 1rem;
}

.product {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #ccc;
}

.productDetails {
  flex: 1;
}
.checkoutButton {
  padding: 0.75rem 1.5rem;
  background-color: #3182ce;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.checkoutButton:hover {
  background-color: #2c5282;
}
