.product {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #ccc;
  justify-content: space-between;
  width: 100%;
}
.productImage {
  width: 5rem;
  height: 5rem;
  object-fit: contain;
  border-radius: 4px;
  margin-right: 1rem;
}

.productName {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.productPrice {
  font-size: 0.875rem;
  color: #888;
}

.removeButton {
  border: none;
  background: none;
  cursor: pointer;
  color: red;
}

.button {
  all: unset;
  padding: 0.5rem 0.8rem;
  font-size: 1rem;
  font-weight: bold;
  border: 1px solid;
  border-radius: 5px;
  cursor: pointer;
}
.button:disabled {
  cursor: not-allowed;
}
.detailsContainer {
  width: 60%;
  display: flex;
  gap: 2rem;
  overflow: hidden;
  height: 100%;
}
.quantityContainer {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
}
