.product_card {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 20px;
  margin-bottom: 10px;
  width: 11rem;
  height: 20rem;
  display: flex;
  flex-direction: column;
}

.product_image {
  width: 70%;
  max-width: 300px;
  height: max-content;
  overflow: hidden;
  object-fit: cover;
  transition: all ease 1s;
  border-radius: 5px;
  align-self: center;
}
.product-image:hover {
  scale: 1.1;
}

.product_title {
  font-size: 0.8rem;
  margin-bottom: 5px;
  margin-top: 1.5rem;
}

.product_price {
  font-weight: bold;
  margin-bottom: 5px;
}

.product_rating {
  display: flex;
  align-items: center;
}

.rating_value {
  font-weight: bold;
  margin-right: 5px;
}

.rating_count {
  color: #888;
}

.add_to_cartButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1f2937;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 8px 12px;
  font-size: 0.9rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: auto;
  gap: 0.5rem;
}

.add_to_cartButton:hover {
  background-color: #0056b3;
}

.cart_icon {
  margin-right: 5px;
}
