.main_container {
  height: 85.9vh;
  margin-top: 3rem;
  display: flex;
  position: fixed;
}

.filter_container {
  width: 25vw;
  border-left: none;
}

.products_container {
  width: 75vw;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  overflow: scroll;
  gap: 2rem;
  padding: 20px;
  overflow-x: hidden;
}
.filter_container,
.products_container,
.spinner_container {
  height: 100%;
  border: 1px solid #ccc;
  /* box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px,
    rgba(9, 30, 66, 0.13) 0px 0px 1px 1px; */
}
