@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  flex-wrap: wrap;
  min-width: 100vw;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
}

.dark {
  height: 100vh;
  background-color: #1a202c;
  color: #edf2f7;
  border-color: #ccc;
}
.light {
  height: 100vh;
  color: #2e3648;
  background-color: #ffffff;
  border-color: #ccc;
}
