.nav_container {
  height: 4rem;
  max-width: 100vw;
  display: flex;
  gap: 3.5rem;
  font-weight: bolder;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  top: 0;
  position: sticky;
}

.dark_box_shadow {
  box-shadow: rgba(250, 250, 250, 0.1) 0px 1px 2px 0px;
}

.link_container,
.cart_container,
.logo_container,
.login_button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo_container {
  height: 100%;
  margin-left: 5rem;
  font-family: "Cedarville Cursive", cursive;
  font-size: 20px;
}
.logo_container img {
  height: 50px;
  width: 60px;
  margin-top: 10px;
}
.cart_container {
  margin-left: auto;
  margin-right: 4rem;
  width: max-content;
}

.link_container a,
.cart_container a,
.logo_container a {
  text-decoration: none;
  outline: none;
  color: inherit;
}

.link_container a:hover {
  color: hsl(353, 100%, 78%);
  transition: 0.4s ease;
  font-weight: bolder;
  transform: scale(1.1);
}

.login_button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login_button {
  color: #fff;
  border: none;
  padding: 8px 15px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: transform 0.2s;
  font-size: 25px;
}

.login_button:hover {
  transform: scale(1.2);
  color: hsl(353, 100%, 78%);
}
